html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("../public/images/currencyBackground.png");
  background-position: auto;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Orbitron", sans-serif;
  font-size: 17px;
}