html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  background-image: url("../public/images/currencyBackground.png");
  background-position: auto;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Orbitron", sans-serif;
  font-size: 17px;
}

.paragraph {
	margin: 0;
}

.input {
  margin: 0 5px;
  padding: 2px;
  border: none;
  background-color:#ffffffaa;
}
